.admin-moves{
    background-color: transparent;
    border: 3px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 5px;
    cursor: pointer;
    
}.reset-button{
        padding: 7px 10px;
        
        cursor: pointer;
    
}




